node-red/side_cam
[{"id":"d9ab78b2.085018","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dfb55d10.7f5c6","type":"debug","z":"d9ab78b2.085018","name":"dbg man motor exec","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":711.5000495910645,"y":245.0000638961792,"wires":[]},{"id":"d3e78ec6.776a8","type":"exec","z":"d9ab78b2.085018","command":"raspistill","addpay":false,"append":"-w 1920 -h 1080 -o - -awb off -awbg \"1.40,0.47\"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":1040,"wires":[["89a4a617.5e7788"],[],[]]},{"id":"8061f718.e5e3a8","type":"ui_template","z":"d9ab78b2.085018","group":"3c1dd94.ae1f026","name":"Display picture","order":7,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1784.0001811981201,"y":1101.0000095367432,"wires":[[]]},{"id":"73b72a40.ef3dc4","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"3c1dd94.ae1f026","order":2,"width":"0","height":"0","passthru":false,"label":"Take picture","tooltip":"","color":"","bgcolor":"","icon":"photo_camera","payload":"","payloadType":"date","topic":"","x":82.50013732910156,"y":1042.9999732971191,"wires":[["d3e78ec6.776a8","3a506f3e.18e6e"]]},{"id":"bab1e2d2.87f5c","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"5767444d.08d37c","order":3,"width":"0","height":"0","passthru":false,"label":"Send CMD to Motor","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"myArray","payloadType":"flow","topic":"","x":123.50005722045898,"y":298.0000534057617,"wires":[["6899db7e.99e164","1b5d7f7b.8fcc11"]]},{"id":"853377e8.9383a8","type":"ui_switch","z":"d9ab78b2.085018","name":"","label":"Set direction","tooltip":"","group":"5767444d.08d37c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"UP","onvalueType":"str","onicon":"","oncolor":"","offvalue":"DOWN","offvalueType":"str","officon":"","offcolor":"","x":94.00003433227539,"y":452.99999618530273,"wires":[["f2c4fd4e.a68f","e4f84726.3af438"]]},{"id":"f2c4fd4e.a68f","type":"ui_text","z":"d9ab78b2.085018","group":"5767444d.08d37c","order":5,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload}}","layout":"row-spread","x":342.0000343322754,"y":399.00000858306885,"wires":[],"icon":"node-red-dashboard/ui_switch.png"},{"id":"e4f84726.3af438","type":"function","z":"d9ab78b2.085018","name":"Record Dir Side","func":"var array=flow.get('myArray') || 0;\nif (msg.payload == 'UP'){\n    array[0] = 'CC';\n} else {\n    array[0] = 'CW';\n}\nflow.set('myArray',array);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":358.0000343322754,"y":472.99999618530273,"wires":[["1d927618.3ffc3a"]]},{"id":"1d927618.3ffc3a","type":"debug","z":"d9ab78b2.085018","name":"dbg record Direction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":528.5000343322754,"y":422.99999618530273,"wires":[]},{"id":"b63d529e.f800e","type":"inject","z":"d9ab78b2.085018","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":106.00005340576172,"y":33.000009536743164,"wires":[["61a5df94.b3b7e","5c1b52f.edf3bac"]]},{"id":"61a5df94.b3b7e","type":"function","z":"d9ab78b2.085018","name":"Initialize","func":"var count = flow.get('count')||0;\ncount = 0;\nflow.set('count', count);\n\n// Number of cycles of side and top collection starts at 0\nvar cycles = flow.get('cycles')||0;\ncycles = 30;\nflow.set('cycles', cycles);\n\n//Side camera\nvar a = flow.get(\"myArray[2]\");\na = ['CW', 0];\nflow.set(\"myArray\", a);\n\n// Top camera\nvar a_top = flow.get(\"myArray_top[2]\");\na_top = ['CW', 0];\nflow.set(\"myArray_top\", a_top);\n\n// Abort automatic data collection\nvar abort_flag = flow.get('abort_flag')||0;\nabort_flag = 0;\nflow.set('abort_flag',abort_flag);\n\n// Postpone automatic data collection\nvar postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag',postpone_flag);\n\n// Automatic data collection status\nvar auto_data_sts = flow.get('auto_data_sts')||0;\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\n// Verification of reset course executed by top carriage\n// thru a timeout\nvar time2reset_topcam = flow.get('time2reset_topcam')||0;\nflow.set('time2reset_topcam',time2reset_topcam);\n\n// Timeout variable for verification mentioned above\nvar moving_error_timeout = flow.get('moving_error_timeout')||0;\n// Value is seconds\nmoving_error_timeout = 14;\nflow.set('moving_error_timeout',moving_error_timeout);\n\n//default data folder where pictures will be Saved\nvar datafolder = flow.get('data_folder');\ndatafolder = 'Data';\nflow.set('data_folder',datafolder);\n\n// Variable used for timestamp of recording\nvar time_of_rec = flow.get('time_of_rec')||0;\ntime_of_rec = 0;\nflow.set('time_of_rec', time_of_rec);\n\nmsg.payload = [count, cycles, a,a_top,abort_flag, postpone_flag,auto_data_sts, time2reset_topcam, moving_error_timeout, datafolder, time_of_rec];\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":351.50006103515625,"y":33.000009536743164,"wires":[["485847db.217458"]]},{"id":"6899db7e.99e164","type":"debug","z":"d9ab78b2.085018","name":"dbg man cmd motor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":379.00002670288086,"y":246.00004863739014,"wires":[]},{"id":"ec5173ca.ee95d","type":"ui_text","z":"d9ab78b2.085018","group":"5767444d.08d37c","order":6,"width":"6","height":"4","name":"","label":"Output","format":"{{msg.payload}}","layout":"col-center","x":787.5000381469727,"y":298.00003719329834,"wires":[]},{"id":"b8ab7079.0e89b","type":"template","z":"d9ab78b2.085018","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"396px\" height=\"216px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1539.0002136230469,"y":1099.999994277954,"wires":[["8061f718.e5e3a8"]]},{"id":"1c52d692.35ac09","type":"fs-ops-move","z":"d9ab78b2.085018","name":"Rename File 2 generate name","sourcePath":"/home/pi/","sourcePathType":"str","sourceFilename":"test.jpg","sourceFilenameType":"str","destPath":"/home/pi/","destPathType":"str","destFilename":"time","destFilenameType":"flow","link":false,"x":1825.5001983642578,"y":1036.0000400543213,"wires":[[]]},{"id":"3a506f3e.18e6e","type":"function","z":"d9ab78b2.085018","name":"Generate picture name","func":"var time=flow.get('time') || 0;\nflow.set('time',time);\nvar timestamp = msg.payload;\nvar value =  String(timestamp);\nvalue  = value.concat('.jpg');\nflow.set('time',value);\n\nreturn msg;","outputs":1,"noerr":0,"x":977.5002632141113,"y":1147.0000038146973,"wires":[["93eaab6c.3c18e8"]]},{"id":"93eaab6c.3c18e8","type":"debug","z":"d9ab78b2.085018","name":"dbg pic name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1229.0003509521484,"y":1147.000002861023,"wires":[]},{"id":"9d3a3469.640f48","type":"file","z":"d9ab78b2.085018","name":"Write picture to file","filename":"/home/pi/test.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"base64","x":1569.5001831054688,"y":1037.000002861023,"wires":[["1c52d692.35ac09"]]},{"id":"53c4e8ba.d51cf8","type":"exec","z":"d9ab78b2.085018","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":1433.500015258789,"y":1348.5000858306885,"wires":[[],[],[]]},{"id":"91529cbf.c6fb6","type":"ui_button","z":"d9ab78b2.085018","name":"Shutdown","group":"7c181052.012f8","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"str","topic":"","x":81.50001525878906,"y":1353.0000858306885,"wires":[["53c4e8ba.d51cf8"]]},{"id":"7faafddf.111a24","type":"ui_text_input","z":"d9ab78b2.085018","name":"","label":"Camera data folder","tooltip":"","group":"12881274.dc1f7e","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":111.00001525878906,"y":1478.0003299713135,"wires":[["798528e8.1e4af8"]]},{"id":"75e43818.877e78","type":"debug","z":"d9ab78b2.085018","name":"output saved datapath","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":605.5000152587891,"y":1480.0002880096436,"wires":[]},{"id":"798528e8.1e4af8","type":"function","z":"d9ab78b2.085018","name":"Save data_folder","func":"var data_folder = flow.get('data_folder');\nflow.set('data_folder',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":384.50001525878906,"y":1478.0002880096436,"wires":[["75e43818.877e78"]]},{"id":"99fcdd2b.a19b","type":"function","z":"d9ab78b2.085018","name":"Reset count","func":"var count = flow.get('count')||0;\ncount = 0;\nflow.set('count', count);\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":1437.5005340576172,"y":1576.0006346702576,"wires":[["eb5d8816.5cbdf8"]]},{"id":"eb5d8816.5cbdf8","type":"debug","z":"d9ab78b2.085018","name":"Counter reset ouput","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":1666.394905090332,"y":1631.5748090744019,"wires":[]},{"id":"20e54ea5.676092","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"12881274.dc1f7e","order":5,"width":0,"height":0,"passthru":false,"label":"  Start Auto Collection","tooltip":"","color":"","bgcolor":"","icon":"fa-play","payload":"","payloadType":"date","topic":"","x":122.38282012939453,"y":1982.0004177093506,"wires":[["81a8d7cb.697fd8","79d3f2bb.f3bebc"]]},{"id":"de523c2b.f6ec5","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"12881274.dc1f7e","order":7,"width":0,"height":0,"passthru":false,"label":"  Abort Auto Collection","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"true","payloadType":"bool","topic":"","x":119.39454650878906,"y":1572.9965057373047,"wires":[["7b3ecf0b.9847"]]},{"id":"7b3ecf0b.9847","type":"function","z":"d9ab78b2.085018","name":"Set Abort to True","func":"if (msg.payload == 1)\n{\n    var abort_flag = flow.get('abort_flag')||0;\n    abort_flag = 1;\n    flow.set('abort_flag', abort_flag);\n    \n    msg.payload = abort_flag;\n    return msg\n}\n","outputs":1,"noerr":0,"x":375.3906555175781,"y":1572.5746307373047,"wires":[["af782138.8de87","99fcdd2b.a19b"]]},{"id":"485847db.217458","type":"debug","z":"d9ab78b2.085018","name":"dbg initialization","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":534.390645980835,"y":31.824216842651367,"wires":[]},{"id":"af782138.8de87","type":"debug","z":"d9ab78b2.085018","name":"dgb abort_flag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":646.3867492675781,"y":1525.5787153244019,"wires":[]},{"id":"65761105.4692a","type":"exec","z":"d9ab78b2.085018","command":"sudo reboot","addpay":false,"append":"now","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":1441.0001068115234,"y":1430.3334217071533,"wires":[[],[],[]]},{"id":"1d62ebaf.bc1a24","type":"ui_button","z":"d9ab78b2.085018","name":"Reboot","group":"7c181052.012f8","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"repeat","payload":"","payloadType":"str","topic":"","x":83.0000114440918,"y":1432.8334007263184,"wires":[["65761105.4692a"]]},{"id":"100408d1.1198d7","type":"ui_numeric","z":"d9ab78b2.085018","name":"","label":"Number of Cycles","tooltip":"","group":"12881274.dc1f7e","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"34","step":1,"x":109.50001525878906,"y":1391.0000858306885,"wires":[["2869a64a.f61d5a"]]},{"id":"2869a64a.f61d5a","type":"function","z":"d9ab78b2.085018","name":"Set num_cycles","func":"var num_cycles = flow.get(\"cycles\");\nnum_cycles = msg.payload;\nflow.set(\"cycles\",num_cycles);\nreturn msg;","outputs":1,"noerr":0,"x":368.50001525878906,"y":1390.0000858306885,"wires":[["2a4b2225.22d5de"]]},{"id":"2a4b2225.22d5de","type":"debug","z":"d9ab78b2.085018","name":"dbg num_cycles","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":587.5000152587891,"y":1388.0000858306885,"wires":[]},{"id":"88ccd12.08f3c3","type":"function","z":"d9ab78b2.085018","name":"count+=1","func":"var count = flow.get('count');\ncount +=1;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":2660,"wires":[["e34ec915.a31fb8","2eddd21c.9f878e"]]},{"id":"94e1486c.b09548","type":"switch","z":"d9ab78b2.085018","name":"if count < cycles","property":"count","propertyType":"flow","rules":[{"t":"lt","v":"cycles","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":478.000057220459,"y":2668.0000314712524,"wires":[["88ccd12.08f3c3"],["fd6c82c2.0526d","2eddd21c.9f878e"]]},{"id":"fd6c82c2.0526d","type":"function","z":"d9ab78b2.085018","name":"reset count","func":"var count = flow.get('count');\ncount =0;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":711.4999542236328,"y":2708.000015258789,"wires":[["b33beac.025fc18","51506d4e.471594"]]},{"id":"e34ec915.a31fb8","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":906.9999961853027,"y":2658.999970436096,"wires":[["e26bc3fa.b42d6"]]},{"id":"49919cb0.1e1f04","type":"function","z":"d9ab78b2.085018","name":"Timestp of Rec + Data folder","func":"var data_folder = flow.get('data_folder');\nvar timestp_rec = flow.get('time_of_rec');\nmsg.payload = timestp_rec + ' ' + data_folder;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":2320,"wires":[["b88ff4e3.25f7a8","e4d8337c.8371a"]]},{"id":"6aab6d81.7e2f14","type":"inject","z":"d9ab78b2.085018","name":"Schedule1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"50 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":452.39454650878906,"y":2027.1216430664062,"wires":[["c0993cb9.6d4c7"]]},{"id":"2eddd21c.9f878e","type":"debug","z":"d9ab78b2.085018","name":"count sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":2600,"wires":[]},{"id":"e26bc3fa.b42d6","type":"pythonshell in","z":"d9ab78b2.085018","name":"Reset Side Pos","pyfile":"/home/pi/automatic_data_collection/reset_pos_side_cam.py","virtualenv":"","continuous":false,"stdInData":false,"x":1319.0000343322754,"y":2036.9995012283325,"wires":[["d4222c1a.014e8","34000e11.9ef5e2"]]},{"id":"d4222c1a.014e8","type":"debug","z":"d9ab78b2.085018","name":"dbg reset top pos sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1580,"y":2000,"wires":[]},{"id":"ae340afe.aecb68","type":"function","z":"d9ab78b2.085018","name":"Record Step Side","func":"var array=flow.get('myArray_top') || 0;\narray[1] = msg.payload;\nflow.set('myArray',array);\n\nreturn msg;","outputs":1,"noerr":0,"x":371.00000381469727,"y":627.999942779541,"wires":[["bedda02b.e4bfb"]]},{"id":"bedda02b.e4bfb","type":"debug","z":"d9ab78b2.085018","name":"dbg Record step","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":542.4999809265137,"y":576.9999418258667,"wires":[]},{"id":"fea843e.f662dc","type":"ui_slider","z":"d9ab78b2.085018","name":"","label":"Set steps","tooltip":"","group":"5767444d.08d37c","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"5","step":"0.1","x":79.49998474121094,"y":627.9999446868896,"wires":[["7d5276e.bce2988","ae340afe.aecb68"]]},{"id":"7d5276e.bce2988","type":"ui_gauge","z":"d9ab78b2.085018","name":"","group":"5767444d.08d37c","order":2,"width":0,"height":0,"gtype":"gage","title":"No. Steps","label":"steps","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":341.49998474121094,"y":577.999942779541,"wires":[]},{"id":"eff5c1d.7a99f4","type":"inject","z":"d9ab78b2.085018","name":"Schedule2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"10 15 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":447,"y":2121.000331878662,"wires":[["c0993cb9.6d4c7"]]},{"id":"9999dae8.65e5a8","type":"inject","z":"d9ab78b2.085018","name":"Schedule3","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"00 03 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":445,"y":2211.000331878662,"wires":[[]]},{"id":"f510dec4.f7167","type":"switch","z":"d9ab78b2.085018","name":"If postpone_flag is True","property":"postpone_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1330,"y":2180,"wires":[["c0d9876.ca0fb78","b954e3e2.4711f"],["7598cd8a.4afe24"]]},{"id":"c0d9876.ca0fb78","type":"debug","z":"d9ab78b2.085018","name":"dbg abort_flag sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1690,"y":2140,"wires":[]},{"id":"f8bbdb7a.f20e08","type":"debug","z":"d9ab78b2.085018","name":"dbg reset side pos sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1953.999698638916,"y":2413.6662912368774,"wires":[]},{"id":"7598cd8a.4afe24","type":"switch","z":"d9ab78b2.085018","name":"If abort_flag is True","property":"abort_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1307.9997482299805,"y":2234.332823753357,"wires":[["9277940a.a0eb88"],["49919cb0.1e1f04"]]},{"id":"536d39bd.496648","type":"function","z":"d9ab78b2.085018","name":"Set Abort to False","func":" var abort_flag = flow.get('abort_flag')||0;\nabort_flag = 0;\nflow.set('abort_flag', abort_flag);\n\nmsg.payload = abort_flag;\nreturn msg","outputs":1,"noerr":0,"x":1951.3333587646484,"y":2244.9995079040527,"wires":[["d3891d43.cfca8"]]},{"id":"2135b410.5f70ec","type":"debug","z":"d9ab78b2.085018","name":"dbg abort_flag sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1949.3331909179688,"y":2208.999505996704,"wires":[]},{"id":"d3891d43.cfca8","type":"function","z":"d9ab78b2.085018","name":"reset count","func":"var count = flow.get('count');\ncount =0;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":1930.0000228881836,"y":2289.332883834839,"wires":[["48c4555b.c216dc"]]},{"id":"a0c800a5.48d9","type":"switch","z":"d9ab78b2.085018","name":"If postpone_flag is True","property":"postpone_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1323.9996223449707,"y":2500.6658906936646,"wires":[["aaa83e25.c1a07","18366b44.78f5f5"],["a8dc645a.6126d8"]]},{"id":"18d646d8.15ef29","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1926.333152770996,"y":2454.33304977417,"wires":[["2f71193a.ef0096"]]},{"id":"aaa83e25.c1a07","type":"debug","z":"d9ab78b2.085018","name":"dbg abort_flag sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1590,"y":2440,"wires":[]},{"id":"2f71193a.ef0096","type":"function","z":"d9ab78b2.085018","name":"Set postpone to False","func":" var postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":1959.3331604003906,"y":2499.33279132843,"wires":[["c961783a.0ed438"]]},{"id":"a8dc645a.6126d8","type":"switch","z":"d9ab78b2.085018","name":"If abort_flag is True","property":"abort_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1307.999683380127,"y":2582.9992055892944,"wires":[["9ece5965.a61068"],["30d74e59.426402"]]},{"id":"5e03d4c9.cd12cc","type":"switch","z":"d9ab78b2.085018","name":"If postpone_flag is True","property":"postpone_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1324.999641418457,"y":2795.332455635071,"wires":[["f59be13f.1fdb4","de8e40c7.ae81f"],["36088023.f84d"]]},{"id":"f59be13f.1fdb4","type":"debug","z":"d9ab78b2.085018","name":"dbg abort_flag sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1630,"y":2720,"wires":[]},{"id":"36088023.f84d","type":"switch","z":"d9ab78b2.085018","name":"If abort_flag is True","property":"abort_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1308.9997024536133,"y":2877.6657705307007,"wires":[["7436a038.1138d"],["94e1486c.b09548"]]},{"id":"1340cb3f.cfd2a5","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"12881274.dc1f7e","order":6,"width":0,"height":0,"passthru":false,"label":"  Pause Auto Collection","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"true","payloadType":"bool","topic":"","x":116.00000762939453,"y":1629.3335933685303,"wires":[["127076e9.b1b6f9"]]},{"id":"127076e9.b1b6f9","type":"function","z":"d9ab78b2.085018","name":"Set postpone to True","func":"var postpone_flag = flow.get('postpone_flag');\npostpone_flag = 1;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":380.00000762939453,"y":1629.3335933685303,"wires":[["965dfb2f.442ec8","c30713b0.46734"]]},{"id":"965dfb2f.442ec8","type":"debug","z":"d9ab78b2.085018","name":"dgb postpone_flag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":652.0000247955322,"y":1630.3336420059204,"wires":[]},{"id":"8d5e5813.59d168","type":"ui_text","z":"d9ab78b2.085018","group":"12881274.dc1f7e","order":2,"width":0,"height":0,"name":"","label":"Recording Status","format":"{{msg.payload}}","layout":"row-spread","x":650.666690826416,"y":1679.6669759750366,"wires":[]},{"id":"c30713b0.46734","type":"function","z":"d9ab78b2.085018","name":"Set sts to paused","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Paused\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":369.00001525878906,"y":1680.0002765655518,"wires":[["8d5e5813.59d168"]]},{"id":"9db24ba8.389be8","type":"function","z":"d9ab78b2.085018","name":"Set sts to ongoing","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Ongoing\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":738.0000152587891,"y":2107.000469684601,"wires":[["97451653.c83478"]]},{"id":"b33beac.025fc18","type":"function","z":"d9ab78b2.085018","name":"Set sts to standby","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":932.4996452331543,"y":2710.0001707077026,"wires":[["c777bbf1.5d9e88"]]},{"id":"48c4555b.c216dc","type":"function","z":"d9ab78b2.085018","name":"Set sts to standby","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":1955.999698638916,"y":2335.3325595855713,"wires":[[]]},{"id":"f6c03053.fece6","type":"trigger","z":"d9ab78b2.085018","name":"Update auto collection sts","op1":"auto_data_sts","op2":"auto_data_sts","op1type":"flow","op2type":"flow","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":389.66670989990234,"y":1796.0015678405762,"wires":[["8d5e5813.59d168","7a18a96.d425558"]]},{"id":"7a18a96.d425558","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":374.66670989990234,"y":1894.0015697479248,"wires":[["f6c03053.fece6"]]},{"id":"9bae0ad6.03e338","type":"inject","z":"d9ab78b2.085018","name":"Started","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":338.6667022705078,"y":1746.3347434997559,"wires":[["f6c03053.fece6"]]},{"id":"c0993cb9.6d4c7","type":"switch","z":"d9ab78b2.085018","name":"if auto_data_sts Standby","property":"auto_data_sts","propertyType":"flow","rules":[{"t":"eq","v":"Standby","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":754.6666793823242,"y":1985.3336386680603,"wires":[["ad7cf7ec.ea5b58","b4f27c22.4373","9db24ba8.389be8"],["ad7cf7ec.ea5b58"]]},{"id":"ad7cf7ec.ea5b58","type":"debug","z":"d9ab78b2.085018","name":"dbg auto_data1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":2060,"wires":[]},{"id":"89a4a617.5e7788","type":"base64","z":"d9ab78b2.085018","name":"","action":"str","property":"payload","x":1208.0002708435059,"y":1035.0000019073486,"wires":[["b8ab7079.0e89b","9d3a3469.640f48"]]},{"id":"1b5d7f7b.8fcc11","type":"pythonshell in","z":"d9ab78b2.085018","name":"CMD Side motor","pyfile":"/home/pi/manual_data_collection/stepper_test_nodered.py","virtualenv":"","continuous":false,"stdInData":false,"x":390,"y":298,"wires":[["ec5173ca.ee95d","dfb55d10.7f5c6"]]},{"id":"72d4554b.fcedbc","type":"moment","z":"d9ab78b2.085018","name":"Timestamp of Recording","topic":"","input":"","inputType":"date","inTz":"America/New_York","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":1010,"y":2180,"wires":[["794e92fe.396d3c"]]},{"id":"97451653.c83478","type":"trigger","z":"d9ab78b2.085018","name":"Get timestamp","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"0.0001","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":720,"y":2160,"wires":[["345833a4.5dac6c"]]},{"id":"345833a4.5dac6c","type":"function","z":"d9ab78b2.085018","name":"Save timestamp","func":"var time = flow.get('time2reset_topcam');\ntime = msg.payload;\nflow.set('time2reset_topcam', time);\n\nreturn msg;","outputs":1,"noerr":0,"x":719,"y":2208,"wires":[["8e0fafe.81f515","a89b6369.28b1a"]]},{"id":"81e71046.72e15","type":"trigger","z":"d9ab78b2.085018","name":"Get timestamp","op1":"","op2":"","op1type":"nul","op2type":"date","duration":"0.0001","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":720,"y":2360,"wires":[["397e3b1a.4905c4"]]},{"id":"397e3b1a.4905c4","type":"function","z":"d9ab78b2.085018","name":"Save Delta","func":"var time1 = flow.get('time2reset_topcam');\ntime2 = msg.payload;\n\nmsg.payload = (time2 - time1)/1000;\n\nflow.set('time2reset_topcam', msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":709,"y":2408,"wires":[["4f5b91f0.36725","c100290d.b5c358"]]},{"id":"4f5b91f0.36725","type":"switch","z":"d9ab78b2.085018","name":"If Delta is Correct","property":"time2reset_topcam","propertyType":"flow","rules":[{"t":"gt","v":"moving_error_timeout","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":2460,"wires":[["72d4554b.fcedbc"],["c1108fee.0dd13"]]},{"id":"8e0fafe.81f515","type":"debug","z":"d9ab78b2.085018","name":"dbg Save Timestp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":990,"y":2120,"wires":[]},{"id":"c100290d.b5c358","type":"debug","z":"d9ab78b2.085018","name":"dbg Save Delta","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":980,"y":2400,"wires":[]},{"id":"b88ff4e3.25f7a8","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1590,"y":2360,"wires":[]},{"id":"7296bc16.c02364","type":"trigger","z":"d9ab78b2.085018","name":"Update count sts","op1":"count","op2":"count","op1type":"flow","op2type":"flow","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":910,"y":1740,"wires":[["28b8b0f1.2bc33"]]},{"id":"28b8b0f1.2bc33","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":815,"y":1840,"wires":[["4eb97614.42c1e8"]]},{"id":"e5f52d6.4bb39d","type":"inject","z":"d9ab78b2.085018","name":"Started","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":878.9999923706055,"y":1690.3331756591797,"wires":[["7296bc16.c02364"]]},{"id":"492ebae0.496854","type":"ui_text","z":"d9ab78b2.085018","group":"12881274.dc1f7e","order":3,"width":0,"height":0,"name":"display exec sts","label":"Execution status","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":1840,"wires":[]},{"id":"4eb97614.42c1e8","type":"function","z":"d9ab78b2.085018","name":"Generate String","func":"var count = flow.get('count');\nvar total = flow.get('cycles');\nmsg.payload = String(count) + ' out of ' + String(total);\nreturn msg;","outputs":1,"noerr":0,"x":995,"y":1840,"wires":[["7296bc16.c02364","492ebae0.496854"]]},{"id":"794e92fe.396d3c","type":"function","z":"d9ab78b2.085018","name":"Save Time of Rec","func":"var time = flow.get('time_of_rec');\ntime = msg.payload;\nflow.set('time_of_rec', time);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":2220,"wires":[["e26bc3fa.b42d6"]]},{"id":"c1108fee.0dd13","type":"function","z":"d9ab78b2.085018","name":"Set sts to Error","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Error\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":720,"y":2500,"wires":[["a5cdfe3b.81b06"]]},{"id":"a5cdfe3b.81b06","type":"function","z":"d9ab78b2.085018","name":"reset count","func":"var count = flow.get('count');\ncount =0;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":2540,"wires":[[]]},{"id":"81a8d7cb.697fd8","type":"function","z":"d9ab78b2.085018","name":"Set sts to standby","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":450,"y":1980,"wires":[["c0993cb9.6d4c7"]]},{"id":"79d3f2bb.f3bebc","type":"function","z":"d9ab78b2.085018","name":"Set Abort to False","func":" var abort_flag = flow.get('abort_flag')||0;\nabort_flag = 0;\nflow.set('abort_flag', abort_flag);\n\nmsg.payload = abort_flag;\nreturn msg","outputs":1,"noerr":0,"x":452,"y":1939,"wires":[[]]},{"id":"e4d8337c.8371a","type":"exec","z":"d9ab78b2.085018","command":"python3 /home/pi/automatic_data_collection/collect_data_side_cam.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Run Side Camera Set","x":1320,"y":2420,"wires":[["b88ff4e3.25f7a8"],["b88ff4e3.25f7a8"],["aaa83e25.c1a07","a0c800a5.48d9"]]},{"id":"c777bbf1.5d9e88","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":2600,"wires":[]},{"id":"b4f27c22.4373","type":"exec","z":"d9ab78b2.085018","command":"sudo systemctl start CyberPlantCameraServer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Start RealSense Server","x":1030,"y":1980,"wires":[["ad7cf7ec.ea5b58"],["ad7cf7ec.ea5b58"],["ad7cf7ec.ea5b58"]]},{"id":"51506d4e.471594","type":"exec","z":"d9ab78b2.085018","command":"sudo systemctl stop CyberPlantCameraServer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop RealSense Server","x":950,"y":2760,"wires":[["c777bbf1.5d9e88"],["c777bbf1.5d9e88"],["c777bbf1.5d9e88"]]},{"id":"79953876.4d6078","type":"switch","z":"d9ab78b2.085018","name":"If changed auto collection sts","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":1220,"wires":[["d3e78ec6.776a8","3a506f3e.18e6e"]]},{"id":"43f69a7.8d40664","type":"link out","z":"d9ab78b2.085018","name":"","links":["71a9c731.8b31b8"],"x":1735,"y":2072,"wires":[]},{"id":"71a9c731.8b31b8","type":"link in","z":"d9ab78b2.085018","name":"","links":["43f69a7.8d40664"],"x":755,"y":1220,"wires":[["79953876.4d6078"]]},{"id":"f6ffcc34.9a132","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1520,"y":2100,"wires":[["f510dec4.f7167"]],"info":"Delay used to avoid conflict of automatic script and raspistill"},{"id":"34000e11.9ef5e2","type":"switch","z":"d9ab78b2.085018","name":"if count == 0","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1290,"y":2080,"wires":[["f6ffcc34.9a132","43f69a7.8d40664"],["f510dec4.f7167"]]},{"id":"30d74e59.426402","type":"function","z":"d9ab78b2.085018","name":"Timestp of Rec + Data folder","func":"var data_folder = flow.get('data_folder');\nvar timestp_rec = flow.get('time_of_rec');\nmsg.payload = timestp_rec + ' ' + data_folder;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":2660,"wires":[["fb2652a3.2a037"]]},{"id":"5c1b52f.edf3bac","type":"exec","z":"d9ab78b2.085018","command":"sudo systemctl stop CyberPlantCameraServer","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Stop RealSense Server","x":370,"y":160,"wires":[["485847db.217458"],["485847db.217458"],["485847db.217458"]]},{"id":"a6ff57b5.2d6488","type":"link in","z":"d9ab78b2.085018","name":"","links":["9277940a.a0eb88","9ece5965.a61068","7436a038.1138d"],"x":1775,"y":2240,"wires":[["2135b410.5f70ec","536d39bd.496648"]]},{"id":"ea3c9636.af9838","type":"link in","z":"d9ab78b2.085018","name":"","links":["b954e3e2.4711f"],"x":1775,"y":2460,"wires":[["f8bbdb7a.f20e08","18d646d8.15ef29"]]},{"id":"b954e3e2.4711f","type":"link out","z":"d9ab78b2.085018","name":"","links":["ea3c9636.af9838"],"x":1555,"y":2180,"wires":[]},{"id":"9277940a.a0eb88","type":"link out","z":"d9ab78b2.085018","name":"","links":["a6ff57b5.2d6488"],"x":1555,"y":2240,"wires":[]},{"id":"18366b44.78f5f5","type":"link out","z":"d9ab78b2.085018","name":"","links":["e0979f7e.89bcd"],"x":1495,"y":2495,"wires":[]},{"id":"9ece5965.a61068","type":"link out","z":"d9ab78b2.085018","name":"","links":["a6ff57b5.2d6488"],"x":1494,"y":2578,"wires":[]},{"id":"de8e40c7.ae81f","type":"link out","z":"d9ab78b2.085018","name":"","links":["af1c28ae.948fa8"],"x":1495,"y":2790,"wires":[]},{"id":"7436a038.1138d","type":"link out","z":"d9ab78b2.085018","name":"","links":["a6ff57b5.2d6488"],"x":1498,"y":2873,"wires":[]},{"id":"c961783a.0ed438","type":"link out","z":"d9ab78b2.085018","name":"","links":["2ff9502d.65e3c"],"x":2095,"y":2500,"wires":[]},{"id":"2ff9502d.65e3c","type":"link in","z":"d9ab78b2.085018","name":"","links":["c961783a.0ed438"],"x":1175,"y":2200,"wires":[["f510dec4.f7167"]]},{"id":"21347b2.e53b584","type":"debug","z":"d9ab78b2.085018","name":"dbg reset side pos sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1960,"y":2560,"wires":[]},{"id":"cf7a840f.9809d8","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1932.33345413208,"y":2600.6667585372925,"wires":[["90d81ebb.d29ee"]]},{"id":"90d81ebb.d29ee","type":"function","z":"d9ab78b2.085018","name":"Set postpone to False","func":" var postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":1965.3334617614746,"y":2645.6665000915527,"wires":[["ea22ed34.f086e"]]},{"id":"e0979f7e.89bcd","type":"link in","z":"d9ab78b2.085018","name":"","links":["18366b44.78f5f5"],"x":1781.000301361084,"y":2606.3337087631226,"wires":[["21347b2.e53b584","cf7a840f.9809d8"]]},{"id":"ea22ed34.f086e","type":"link out","z":"d9ab78b2.085018","name":"","links":["9a541b60.c86668"],"x":2101.000301361084,"y":2646.3337087631226,"wires":[]},{"id":"9a541b60.c86668","type":"link in","z":"d9ab78b2.085018","name":"","links":["ea22ed34.f086e"],"x":1175,"y":2520,"wires":[["a0c800a5.48d9"]]},{"id":"d4bdd404.e27618","type":"debug","z":"d9ab78b2.085018","name":"dbg reset side pos sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1960,"y":2700,"wires":[]},{"id":"11a6aa03.52a426","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1932.33345413208,"y":2740.6667585372925,"wires":[["8c40d693.2b5358"]]},{"id":"8c40d693.2b5358","type":"function","z":"d9ab78b2.085018","name":"Set postpone to False","func":" var postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":1965.3334617614746,"y":2785.6665000915527,"wires":[["5b55d05d.5062b"]]},{"id":"af1c28ae.948fa8","type":"link in","z":"d9ab78b2.085018","name":"","links":["de8e40c7.ae81f"],"x":1782,"y":2700,"wires":[["11a6aa03.52a426"]]},{"id":"5b55d05d.5062b","type":"link out","z":"d9ab78b2.085018","name":"","links":["6a0e8c62.605ed4"],"x":2115,"y":2800,"wires":[]},{"id":"6a0e8c62.605ed4","type":"link in","z":"d9ab78b2.085018","name":"","links":["5b55d05d.5062b"],"x":1155,"y":2840,"wires":[["5e03d4c9.cd12cc"]]},{"id":"3989f221.ea101e","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":2260,"wires":[]},{"id":"a89b6369.28b1a","type":"pythonshell in","z":"d9ab78b2.085018","name":"Serial Reset Top Cam","pyfile":"/home/pi/automatic_data_collection/start_top_motor.py","virtualenv":"","continuous":false,"stdInData":false,"x":720,"y":2260,"wires":[["3989f221.ea101e","81e71046.72e15"]]},{"id":"fb2652a3.2a037","type":"pythonshell in","z":"d9ab78b2.085018","name":"Serial Reset Top Cam","pyfile":"/home/pi/automatic_data_collection/start_top_motor.py","virtualenv":"","continuous":false,"stdInData":false,"x":1340,"y":2720,"wires":[["5e03d4c9.cd12cc","30db6818.1d78e8"]]},{"id":"30db6818.1d78e8","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":2660,"wires":[]},{"id":"3c1dd94.ae1f026","type":"ui_group","z":"","name":"Camera Controls","tab":"6f77228a.b67bac","order":3,"disp":true,"width":"6","collapse":false},{"id":"5767444d.08d37c","type":"ui_group","z":"","name":"Manual - Side Motor Controls","tab":"6f77228a.b67bac","order":7,"disp":true,"width":"6","collapse":false},{"id":"7c181052.012f8","type":"ui_group","z":"","name":"System Controls","tab":"6f77228a.b67bac","order":5,"disp":true,"width":"6","collapse":false},{"id":"12881274.dc1f7e","type":"ui_group","z":"","name":"Automatic  - Data Collection","tab":"6f77228a.b67bac","order":4,"disp":true,"width":"6","collapse":false},{"id":"6f77228a.b67bac","type":"ui_tab","z":"","name":"Data Collection Panel (Side Cam)","icon":"dashboard","disabled":false,"hidden":false}]
