node-red/top_cam
[{"id":"d9ab78b2.085018","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d3e78ec6.776a8","type":"exec","z":"d9ab78b2.085018","command":"raspistill","addpay":false,"append":"-w 1920 -h 1080 -o - -awb off -awbg \"1.40,0.47\"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":920,"y":520,"wires":[["89a4a617.5e7788"],["93eaab6c.3c18e8"],["93eaab6c.3c18e8"]]},{"id":"8061f718.e5e3a8","type":"ui_template","z":"d9ab78b2.085018","group":"3c1dd94.ae1f026","name":"Display picture","order":7,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1784.0001811981201,"y":581.0000095367432,"wires":[[]]},{"id":"73b72a40.ef3dc4","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"3c1dd94.ae1f026","order":2,"width":"0","height":"0","passthru":false,"label":"Take picture","tooltip":"","color":"","bgcolor":"","icon":"photo_camera","payload":"","payloadType":"date","topic":"","x":82.50013732910156,"y":522.9999732971191,"wires":[["d3e78ec6.776a8","3a506f3e.18e6e"]]},{"id":"a027f2a8.42842","type":"function","z":"d9ab78b2.085018","name":"Record Step Top","func":"var array=flow.get('myArray_top') || 0;\narray[1] = msg.payload;\nflow.set('myArray_top',array);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":200,"wires":[["51092097.ed71e"]]},{"id":"51092097.ed71e","type":"debug","z":"d9ab78b2.085018","name":"dbg Record step","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":541.4999771118164,"y":148.99999904632568,"wires":[]},{"id":"a1841e94.d7ce1","type":"ui_slider","z":"d9ab78b2.085018","name":"","label":"Set steps","tooltip":"","group":"38eddcad.c2e5a4","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"9","step":"0.1","x":78.49998092651367,"y":200.00000190734863,"wires":[["d0bb0a40.9bdd48","a027f2a8.42842"]]},{"id":"d0bb0a40.9bdd48","type":"ui_gauge","z":"d9ab78b2.085018","name":"","group":"38eddcad.c2e5a4","order":2,"width":0,"height":0,"gtype":"gage","title":"No. Steps","label":"steps","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340.4999809265137,"y":150,"wires":[]},{"id":"b63d529e.f800e","type":"inject","z":"d9ab78b2.085018","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"Started!","payloadType":"str","x":106.00005340576172,"y":33.000009536743164,"wires":[["7f25b612.db6828"]]},{"id":"b8ab7079.0e89b","type":"template","z":"d9ab78b2.085018","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"396px\" height=\"216px\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":1539.0002136230469,"y":579.9999942779541,"wires":[["8061f718.e5e3a8"]]},{"id":"1c52d692.35ac09","type":"fs-ops-move","z":"d9ab78b2.085018","name":"Rename File 2 generate name","sourcePath":"/home/pi/","sourcePathType":"str","sourceFilename":"test.jpg","sourceFilenameType":"str","destPath":"/home/pi/","destPathType":"str","destFilename":"time","destFilenameType":"flow","link":false,"x":1825.5001983642578,"y":516.0000400543213,"wires":[[]]},{"id":"3a506f3e.18e6e","type":"function","z":"d9ab78b2.085018","name":"Generate picture name","func":"var time=flow.get('time') || 0;\nflow.set('time',time);\nvar timestamp = msg.payload;\nvar value =  String(timestamp);\nvalue  = value.concat('.jpg');\nflow.set('time',value);\n\nreturn msg;","outputs":1,"noerr":0,"x":977.5002632141113,"y":627.0000038146973,"wires":[["93eaab6c.3c18e8"]]},{"id":"93eaab6c.3c18e8","type":"debug","z":"d9ab78b2.085018","name":"dbg pic name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1229.0003509521484,"y":627.000002861023,"wires":[]},{"id":"9d3a3469.640f48","type":"file","z":"d9ab78b2.085018","name":"Write picture to file","filename":"/home/pi/test.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"base64","x":1569.5001831054688,"y":517.000002861023,"wires":[["1c52d692.35ac09"]]},{"id":"53c4e8ba.d51cf8","type":"exec","z":"d9ab78b2.085018","command":"sudo poweroff","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Shutdown","x":1440,"y":760,"wires":[[],[],[]]},{"id":"91529cbf.c6fb6","type":"ui_button","z":"d9ab78b2.085018","name":"Shutdown","group":"7c181052.012f8","order":2,"width":0,"height":0,"passthru":false,"label":"Shutdown","tooltip":"","color":"","bgcolor":"","icon":"power_settings_new","payload":"","payloadType":"str","topic":"","x":88,"y":764.5,"wires":[["53c4e8ba.d51cf8"]]},{"id":"7faafddf.111a24","type":"ui_text_input","z":"d9ab78b2.085018","name":"","label":"Camera data folder","tooltip":"","group":"12881274.dc1f7e","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":300,"topic":"","x":117.5,"y":889.500244140625,"wires":[["798528e8.1e4af8"]]},{"id":"75e43818.877e78","type":"debug","z":"d9ab78b2.085018","name":"output saved datapath","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":612,"y":891.5002021789551,"wires":[]},{"id":"798528e8.1e4af8","type":"function","z":"d9ab78b2.085018","name":"Save data_folder","func":"var data_folder = flow.get('data_folder');\nflow.set('data_folder',msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":889.5002021789551,"wires":[["75e43818.877e78"]]},{"id":"99fcdd2b.a19b","type":"function","z":"d9ab78b2.085018","name":"Reset count","func":"var count = flow.get('count')||0;\ncount = 0;\nflow.set('count', count);\nmsg.count = count;\nreturn msg;","outputs":1,"noerr":0,"x":1444.0005187988281,"y":987.5005488395691,"wires":[["eb5d8816.5cbdf8"]]},{"id":"eb5d8816.5cbdf8","type":"debug","z":"d9ab78b2.085018","name":"Counter reset ouput","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"count","targetType":"msg","x":1672.894889831543,"y":1043.0747232437134,"wires":[]},{"id":"de523c2b.f6ec5","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"12881274.dc1f7e","order":7,"width":0,"height":0,"passthru":false,"label":"  Abort Auto Collection","tooltip":"","color":"","bgcolor":"","icon":"stop","payload":"true","payloadType":"bool","topic":"","x":125.89453125,"y":984.4964199066162,"wires":[["7b3ecf0b.9847"]]},{"id":"7b3ecf0b.9847","type":"function","z":"d9ab78b2.085018","name":"Set Abort to True","func":"if (msg.payload == 1)\n{\n    var abort_flag = flow.get('abort_flag')||0;\n    abort_flag = 1;\n    flow.set('abort_flag', abort_flag);\n    \n    msg.payload = abort_flag;\n    return msg\n}\n","outputs":1,"noerr":0,"x":381.89064025878906,"y":984.0745449066162,"wires":[["af782138.8de87","99fcdd2b.a19b","636bc488.ffeafc"]]},{"id":"485847db.217458","type":"debug","z":"d9ab78b2.085018","name":"dbg initialization","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":534.390645980835,"y":31.824216842651367,"wires":[]},{"id":"af782138.8de87","type":"debug","z":"d9ab78b2.085018","name":"dgb abort_flag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":652.8867340087891,"y":937.0786294937134,"wires":[]},{"id":"65761105.4692a","type":"exec","z":"d9ab78b2.085018","command":"sudo reboot","addpay":false,"append":"now","useSpawn":"false","timer":"","oldrc":false,"name":"Reboot","x":1447.5000915527344,"y":841.8333358764648,"wires":[[],[],[]]},{"id":"1d62ebaf.bc1a24","type":"ui_button","z":"d9ab78b2.085018","name":"Reboot","group":"7c181052.012f8","order":2,"width":0,"height":0,"passthru":false,"label":"Reboot","tooltip":"","color":"","bgcolor":"","icon":"repeat","payload":"","payloadType":"str","topic":"","x":89.49999618530273,"y":844.3333148956299,"wires":[["65761105.4692a"]]},{"id":"100408d1.1198d7","type":"ui_numeric","z":"d9ab78b2.085018","name":"","label":"Number of Cycles","tooltip":"","group":"12881274.dc1f7e","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"1","max":"34","step":1,"x":116,"y":802.5,"wires":[["2869a64a.f61d5a"]]},{"id":"2869a64a.f61d5a","type":"function","z":"d9ab78b2.085018","name":"Set num_cycles","func":"var num_cycles = flow.get(\"cycles\");\nnum_cycles = msg.payload;\nflow.set(\"cycles\",num_cycles);\nreturn msg;","outputs":1,"noerr":0,"x":375,"y":801.5,"wires":[["2a4b2225.22d5de"]]},{"id":"2a4b2225.22d5de","type":"debug","z":"d9ab78b2.085018","name":"dbg num_cycles","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":594,"y":799.5,"wires":[]},{"id":"ccce2d8a.16475","type":"ui_switch","z":"d9ab78b2.085018","name":"","label":"Set direction","tooltip":"","group":"38eddcad.c2e5a4","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"HOME","onvalueType":"str","onicon":"","oncolor":"","offvalue":"AWAY","offvalueType":"str","officon":"","offcolor":"","x":90,"y":440,"wires":[["86b517e1.6b19c8","9d4c5187.33e37"]]},{"id":"86b517e1.6b19c8","type":"ui_text","z":"d9ab78b2.085018","group":"38eddcad.c2e5a4","order":5,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload}}","layout":"row-spread","x":338,"y":386.0000123977661,"wires":[],"icon":"node-red-dashboard/ui_switch.png"},{"id":"9d4c5187.33e37","type":"function","z":"d9ab78b2.085018","name":"Record Dir Top","func":"var array=flow.get('myArray_top') || 0;\nif (msg.payload == 'HOME'){\n    array[0] = 'CW';\n} else {\n    array[0] = 'CC';\n}\nflow.set('myArray_top',array);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":328.5,"y":457.000075340271,"wires":[["2d7ede6d.e1acc2"]]},{"id":"2d7ede6d.e1acc2","type":"debug","z":"d9ab78b2.085018","name":"dbg record Direction","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":524.5,"y":410,"wires":[]},{"id":"8f8f707f.ebbf9","type":"debug","z":"d9ab78b2.085018","name":"dbg man motor exec","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":820,"y":260,"wires":[]},{"id":"795f14b.c0860ec","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"38eddcad.c2e5a4","order":3,"width":"0","height":"0","passthru":false,"label":"Send CMD to Motor","tooltip":"","color":"","bgcolor":"","icon":"play_arrow","payload":"myArray_top","payloadType":"flow","topic":"","x":114.99997329711914,"y":319.9999933242798,"wires":[["e422dcd8.8c10e","cc3ea0bd.c222b"]]},{"id":"e422dcd8.8c10e","type":"debug","z":"d9ab78b2.085018","name":"dbg man cmd motor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":370.499942779541,"y":267.9999885559082,"wires":[]},{"id":"e4994c0e.7787a","type":"ui_text","z":"d9ab78b2.085018","group":"38eddcad.c2e5a4","order":6,"width":"6","height":"4","name":"","label":"Output","format":"{{msg.payload}}","layout":"col-center","x":782.9999904632568,"y":319.3333406448364,"wires":[]},{"id":"1340cb3f.cfd2a5","type":"ui_button","z":"d9ab78b2.085018","name":"","group":"12881274.dc1f7e","order":6,"width":0,"height":0,"passthru":false,"label":"  Pause Auto Collection","tooltip":"","color":"","bgcolor":"","icon":"pause","payload":"true","payloadType":"bool","topic":"","x":122.49999237060547,"y":1040.8335075378418,"wires":[["127076e9.b1b6f9"]]},{"id":"127076e9.b1b6f9","type":"function","z":"d9ab78b2.085018","name":"Set postpone to True","func":"var postpone_flag = flow.get('postpone_flag');\npostpone_flag = 1;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":386.49999237060547,"y":1040.8335075378418,"wires":[["965dfb2f.442ec8","c30713b0.46734"]]},{"id":"965dfb2f.442ec8","type":"debug","z":"d9ab78b2.085018","name":"dgb postpone_flag","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":658.5000095367432,"y":1041.833556175232,"wires":[]},{"id":"8d5e5813.59d168","type":"ui_text","z":"d9ab78b2.085018","group":"12881274.dc1f7e","order":2,"width":0,"height":0,"name":"","label":"Recording Status","format":"{{msg.payload}}","layout":"row-spread","x":657.166675567627,"y":1091.1668901443481,"wires":[]},{"id":"c30713b0.46734","type":"function","z":"d9ab78b2.085018","name":"Set sts to paused","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Paused\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":375.5,"y":1091.5001907348633,"wires":[["8d5e5813.59d168"]]},{"id":"f6c03053.fece6","type":"trigger","z":"d9ab78b2.085018","name":"Update auto collection sts","op1":"auto_data_sts","op2":"auto_data_sts","op1type":"flow","op2type":"flow","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":396.1666946411133,"y":1207.5014820098877,"wires":[["8d5e5813.59d168","7a18a96.d425558"]]},{"id":"7a18a96.d425558","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":381.1666946411133,"y":1305.5014839172363,"wires":[["f6c03053.fece6"]]},{"id":"9bae0ad6.03e338","type":"inject","z":"d9ab78b2.085018","name":"Started","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":345.16668701171875,"y":1157.8346576690674,"wires":[["f6c03053.fece6"]]},{"id":"89a4a617.5e7788","type":"base64","z":"d9ab78b2.085018","name":"","action":"str","property":"payload","x":1208.0002708435059,"y":515.0000019073486,"wires":[["b8ab7079.0e89b","9d3a3469.640f48"]]},{"id":"cc3ea0bd.c222b","type":"pythonshell in","z":"d9ab78b2.085018","name":"CMD Top motor","pyfile":"/home/pi/manual_data_collection/stepper_test_nodered.py","virtualenv":"","continuous":false,"stdInData":false,"x":373.99997329711914,"y":320.0000114440918,"wires":[["e4994c0e.7787a","8f8f707f.ebbf9"]]},{"id":"7296bc16.c02364","type":"trigger","z":"d9ab78b2.085018","name":"Update count sts","op1":"count","op2":"count","op1type":"flow","op2type":"flow","duration":"250","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":916.4999847412109,"y":1151.4999141693115,"wires":[["28b8b0f1.2bc33"]]},{"id":"28b8b0f1.2bc33","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":821.4999847412109,"y":1251.4999141693115,"wires":[["4eb97614.42c1e8"]]},{"id":"e5f52d6.4bb39d","type":"inject","z":"d9ab78b2.085018","name":"Started","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":885.4999771118164,"y":1101.8330898284912,"wires":[["7296bc16.c02364"]]},{"id":"492ebae0.496854","type":"ui_text","z":"d9ab78b2.085018","group":"12881274.dc1f7e","order":3,"width":0,"height":0,"name":"display exec sts","label":"Execution status","format":"{{msg.payload}}","layout":"row-spread","x":1220,"y":1260,"wires":[]},{"id":"4eb97614.42c1e8","type":"function","z":"d9ab78b2.085018","name":"Generate String","func":"var count = flow.get('count');\nvar total = flow.get('cycles');\nmsg.payload = String(count) + ' out of ' + String(total);\nreturn msg;","outputs":1,"noerr":0,"x":1001.4999847412109,"y":1251.4999141693115,"wires":[["7296bc16.c02364","492ebae0.496854"]]},{"id":"79953876.4d6078","type":"switch","z":"d9ab78b2.085018","name":"If changed auto collection sts","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"prev"}],"checkall":"true","repair":false,"outputs":1,"x":980,"y":700,"wires":[["d3e78ec6.776a8","3a506f3e.18e6e"]]},{"id":"43f69a7.8d40664","type":"link out","z":"d9ab78b2.085018","name":"","links":["71a9c731.8b31b8"],"x":435,"y":1460,"wires":[]},{"id":"71a9c731.8b31b8","type":"link in","z":"d9ab78b2.085018","name":"","links":["43f69a7.8d40664"],"x":755,"y":700,"wires":[["79953876.4d6078"]]},{"id":"f6ffcc34.9a132","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":220,"y":1680,"wires":[["2d077191.27ce1e","acd7f63f.3f5398"]],"info":"Delay used to avoid conflict of automatic script and raspistill"},{"id":"34000e11.9ef5e2","type":"switch","z":"d9ab78b2.085018","name":"if count == 0","property":"count","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":1960,"wires":[[],["217cb3e6.c7fa1c"]]},{"id":"1669c927.e76977","type":"switch","z":"d9ab78b2.085018","name":"if count < cycles","property":"count","propertyType":"flow","rules":[{"t":"lt","v":"cycles","vt":"flow"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":240,"y":2160,"wires":[["d9792eaa.23cda"],["4e04c419.d98ecc","9bee0205.c5884"]]},{"id":"9bee0205.c5884","type":"debug","z":"d9ab78b2.085018","name":"count sts","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":460,"y":2100,"wires":[]},{"id":"d9792eaa.23cda","type":"function","z":"d9ab78b2.085018","name":"count+=1","func":"var count = flow.get('count');\ncount +=1;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":461.999942779541,"y":2151.9999685287476,"wires":[["aa870cbd.0c466","9bee0205.c5884"]]},{"id":"4e04c419.d98ecc","type":"function","z":"d9ab78b2.085018","name":"reset count","func":"var count = flow.get('count');\ncount =0;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":473.4998970031738,"y":2199.9999837875366,"wires":[["305a21.dee525e"]]},{"id":"aa870cbd.0c466","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":688.9999389648438,"y":2150.9999389648438,"wires":[["34000e11.9ef5e2"]]},{"id":"305a21.dee525e","type":"function","z":"d9ab78b2.085018","name":"Set sts to standby","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"x":714.4995880126953,"y":2202.00013923645,"wires":[["5b34bae6.460db4","3ed7271e.232c98"]]},{"id":"5b34bae6.460db4","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":911.999942779541,"y":2111.9999685287476,"wires":[]},{"id":"217cb3e6.c7fa1c","type":"switch","z":"d9ab78b2.085018","name":"If postpone_flag is True","property":"postpone_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1500,"wires":[["4f3a389a.47d3d8","3d3383c5.a7dfec"],["b3ef58a.939a4a8"]]},{"id":"b3ef58a.939a4a8","type":"switch","z":"d9ab78b2.085018","name":"If abort_flag is True","property":"abort_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1540,"wires":[["2027b0ab.16f4f","3d3383c5.a7dfec"],["3d2305e5.f4186a"]]},{"id":"c49c0f9d.0dc27","type":"switch","z":"d9ab78b2.085018","name":"If postpone_flag is True","property":"postpone_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":1700,"wires":[["62972d72.f5a454"],["26398aad.25a6d6"]]},{"id":"26398aad.25a6d6","type":"switch","z":"d9ab78b2.085018","name":"If abort_flag is True","property":"abort_flag","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":1740,"wires":[["f3099841.c5c298"],["d4953c5c.b07a7","65fe3aa0.120654"]]},{"id":"7b0ce919.fa82a8","type":"link in","z":"d9ab78b2.085018","name":"","links":["e054b638.ef35c8","12a8e492.c9dd5b"],"x":555,"y":1760,"wires":[["26398aad.25a6d6"]]},{"id":"10029c2d.425924","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1660,"wires":[["a271794.b80a588","c5a50c2c.234cc"]]},{"id":"a271794.b80a588","type":"function","z":"d9ab78b2.085018","name":"Set postpone to False","func":" var postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":1320,"y":1700,"wires":[["42c4f52e.eaffdc"]]},{"id":"42c4f52e.eaffdc","type":"link out","z":"d9ab78b2.085018","name":"","links":["f1741692.be6958"],"x":1235,"y":1760,"wires":[]},{"id":"f1741692.be6958","type":"link in","z":"d9ab78b2.085018","name":"","links":["42c4f52e.eaffdc"],"x":595,"y":1580,"wires":[["b3ef58a.939a4a8"]]},{"id":"4f3a389a.47d3d8","type":"link out","z":"d9ab78b2.085018","name":"","links":["6a034387.47649c"],"x":935,"y":1460,"wires":[]},{"id":"6a034387.47649c","type":"link in","z":"d9ab78b2.085018","name":"","links":["8c539431.f514e8","4f3a389a.47d3d8"],"x":1135,"y":1660,"wires":[["10029c2d.425924"]]},{"id":"1f0c83b9.d4d8fc","type":"pythonshell in","z":"d9ab78b2.085018","name":"Reset Top Pos","pyfile":"/home/pi/automatic_data_collection/reset_pos_top_cam.py","virtualenv":"","continuous":false,"stdInData":false,"x":240,"y":1780,"wires":[["2e392526.15aa0a"]]},{"id":"4be4f974.e209f8","type":"inject","z":"d9ab78b2.085018","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":1620,"wires":[["4ae34944.b77518"]]},{"id":"4ae34944.b77518","type":"exec","z":"d9ab78b2.085018","command":"python3 /home/pi/automatic_data_collection/hearing_top_cam.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Wait SideCam","x":240,"y":1620,"wires":[["4e998493.77239c"],["4e998493.77239c"],["43f69a7.8d40664","f6ffcc34.9a132"]]},{"id":"591548ec.405598","type":"exec","z":"d9ab78b2.085018","command":"python3 /home/pi/automatic_data_collection/new_cycle.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Reply SideCam","x":720,"y":1940,"wires":[["d4953c5c.b07a7"],["d4953c5c.b07a7"],["d4953c5c.b07a7","1669c927.e76977"]]},{"id":"2e392526.15aa0a","type":"exec","z":"d9ab78b2.085018","command":"python3 /home/pi/automatic_data_collection/new_cycle.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Reply SideCam","x":240,"y":1840,"wires":[["f5f8c902.461bf8"],["f5f8c902.461bf8"],["217cb3e6.c7fa1c"]]},{"id":"e5c1279e.305a78","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":1380,"wires":[]},{"id":"3ed7271e.232c98","type":"link out","z":"d9ab78b2.085018","name":"","links":["fdd7f2e9.719cd"],"x":875,"y":2202,"wires":[]},{"id":"fdd7f2e9.719cd","type":"link in","z":"d9ab78b2.085018","name":"","links":["3ed7271e.232c98"],"x":55,"y":1920,"wires":[["4ae34944.b77518"]]},{"id":"f4b2648d.2c01c8","type":"function","z":"d9ab78b2.085018","name":"Set Abort to False","func":" var abort_flag = flow.get('abort_flag')||0;\nabort_flag = 0;\nflow.set('abort_flag', abort_flag);\n\nmsg.payload = abort_flag;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1480,"wires":[["7a2e2d3d.070f44","6439205c.50048"]]},{"id":"7a2e2d3d.070f44","type":"function","z":"d9ab78b2.085018","name":"reset count","func":"var count = flow.get('count');\ncount =0;\nflow.set('count',count);\nmsg.payload = count;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1520,"wires":[["9e26c202.43d12"]]},{"id":"9e26c202.43d12","type":"function","z":"d9ab78b2.085018","name":"Set sts to standby","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":1560,"wires":[["748c99a5.1d6b78"]]},{"id":"38717d67.1231d2","type":"link in","z":"d9ab78b2.085018","name":"","links":["f3099841.c5c298","2027b0ab.16f4f"],"x":1145,"y":1480,"wires":[["f4b2648d.2c01c8"]]},{"id":"62972d72.f5a454","type":"link out","z":"d9ab78b2.085018","name":"","links":["ed962a60.077758"],"x":955,"y":1700,"wires":[]},{"id":"2027b0ab.16f4f","type":"link out","z":"d9ab78b2.085018","name":"","links":["362f460c.a72fda","38717d67.1231d2"],"x":935,"y":1560,"wires":[]},{"id":"f3099841.c5c298","type":"link out","z":"d9ab78b2.085018","name":"","links":["38717d67.1231d2"],"x":955,"y":1760,"wires":[]},{"id":"6439205c.50048","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1440,"wires":[]},{"id":"d4953c5c.b07a7","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1070,"y":1920,"wires":[]},{"id":"748c99a5.1d6b78","type":"link out","z":"d9ab78b2.085018","name":"","links":["65010fae.6fd6b"],"x":1455,"y":1560,"wires":[]},{"id":"65010fae.6fd6b","type":"link in","z":"d9ab78b2.085018","name":"","links":["748c99a5.1d6b78"],"x":55,"y":1680,"wires":[["4ae34944.b77518"]]},{"id":"3d2305e5.f4186a","type":"exec","z":"d9ab78b2.085018","command":"python3 /home/pi/automatic_data_collection/hearing_top_cam.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Wait SideCam","x":720,"y":1608,"wires":[["27864802.fb2e98","c49c0f9d.0dc27"],["27864802.fb2e98"],["27864802.fb2e98"]]},{"id":"2d077191.27ce1e","type":"function","z":"d9ab78b2.085018","name":"Set sts to ongoing","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Ongoing\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":1740,"wires":[["1f0c83b9.d4d8fc"]]},{"id":"ef15def7.2b132","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1380,"wires":[]},{"id":"691fff97.b1dd7","type":"delay","z":"d9ab78b2.085018","name":"Delay to avoid movements","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":1880,"wires":[["591548ec.405598"]],"info":"Delay used to avoid conflict of automatic script and raspistill"},{"id":"acd7f63f.3f5398","type":"link out","z":"d9ab78b2.085018","name":"","links":["440da96c.d3eca8"],"x":435,"y":1660,"wires":[]},{"id":"3d3383c5.a7dfec","type":"link out","z":"d9ab78b2.085018","name":"","links":["440da96c.d3eca8"],"x":935,"y":1509,"wires":[]},{"id":"440da96c.d3eca8","type":"link in","z":"d9ab78b2.085018","name":"","links":["acd7f63f.3f5398","3d3383c5.a7dfec","27864802.fb2e98","f5f8c902.461bf8"],"x":1142,"y":1380,"wires":[["ef15def7.2b132"]]},{"id":"c5a50c2c.234cc","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1620,"wires":[]},{"id":"27864802.fb2e98","type":"link out","z":"d9ab78b2.085018","name":"","links":["362f460c.a72fda","440da96c.d3eca8"],"x":935,"y":1620,"wires":[]},{"id":"f5f8c902.461bf8","type":"link out","z":"d9ab78b2.085018","name":"","links":["440da96c.d3eca8"],"x":415,"y":1960,"wires":[]},{"id":"4e998493.77239c","type":"link out","z":"d9ab78b2.085018","name":"","links":["117c4d8.8fdb1b3"],"x":435,"y":1420,"wires":[]},{"id":"117c4d8.8fdb1b3","type":"link in","z":"d9ab78b2.085018","name":"","links":["4e998493.77239c"],"x":595,"y":1380,"wires":[["e5c1279e.305a78"]]},{"id":"7f25b612.db6828","type":"function","z":"d9ab78b2.085018","name":"Initialize","func":"var count = flow.get('count')||0;\ncount = 0;\nflow.set('count', count);\n\n// Number of cycles of side and top collection starts at 0\nvar cycles = flow.get('cycles')||0;\ncycles = 30;\nflow.set('cycles', cycles);\n\n// Top camera\nvar a_top = flow.get(\"myArray_top[2]\");\na_top = ['CW', 0];\nflow.set(\"myArray_top\", a_top);\n\n// Abort automatic data collection\nvar abort_flag = flow.get('abort_flag')||0;\nabort_flag = 0;\nflow.set('abort_flag',abort_flag);\n\n// Postpone automatic data collection\nvar postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag',postpone_flag);\n\n// Automatic data collection status\nvar auto_data_sts = flow.get('auto_data_sts')||0;\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\n// Verification of reset course executed by top carriage\n// thru a timeout\nvar time2reset_topcam = flow.get('time2reset_topcam')||0;\nflow.set('time2reset_topcam',time2reset_topcam);\n\n// Timeout variable for verification mentioned above\nvar moving_error_timeout = flow.get('moving_error_timeout')||0;\n// Value is seconds\nmoving_error_timeout = 14;\nflow.set('moving_error_timeout',moving_error_timeout);\n\n//default data folder where pictures will be Saved\nvar datafolder = flow.get('data_folder');\ndatafolder = 'Data';\nflow.set('data_folder',datafolder);\n\n// Variable used for timestamp of recording\nvar time_of_rec = flow.get('time_of_rec')||0;\ntime_of_rec = 0;\nflow.set('time_of_rec', time_of_rec);\n\nmsg.payload = [count, cycles,a_top,abort_flag, postpone_flag,auto_data_sts, time2reset_topcam, moving_error_timeout, datafolder, time_of_rec];\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":40,"wires":[["485847db.217458"]]},{"id":"8a82a398.77a62","type":"delay","z":"d9ab78b2.085018","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1290,"y":1880,"wires":[["d0c4293c.ccb908","5c69eb47.524a64"]]},{"id":"d0c4293c.ccb908","type":"function","z":"d9ab78b2.085018","name":"Set postpone to False","func":" var postpone_flag = flow.get('postpone_flag')||0;\npostpone_flag = 0;\nflow.set('postpone_flag', postpone_flag);\n\nmsg.payload = postpone_flag;\nreturn msg","outputs":1,"noerr":0,"x":1320,"y":1920,"wires":[["12a8e492.c9dd5b"]]},{"id":"12a8e492.c9dd5b","type":"link out","z":"d9ab78b2.085018","name":"","links":["7b0ce919.fa82a8"],"x":1235,"y":1980,"wires":[]},{"id":"ed962a60.077758","type":"link in","z":"d9ab78b2.085018","name":"","links":["8c539431.f514e8","62972d72.f5a454"],"x":1135,"y":1880,"wires":[["8a82a398.77a62"]]},{"id":"5c69eb47.524a64","type":"debug","z":"d9ab78b2.085018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1840,"wires":[]},{"id":"65fe3aa0.120654","type":"exec","z":"d9ab78b2.085018","command":"python3 /home/pi/automatic_data_collection/collect_data_top_cam.py","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"Collect Data Top Cam","x":740,"y":1800,"wires":[["d4953c5c.b07a7"],[],["691fff97.b1dd7"]]},{"id":"636bc488.ffeafc","type":"function","z":"d9ab78b2.085018","name":"Set sts to standby","func":"var auto_data_sts = flow.get('auto_data_sts');\nauto_data_sts = \"Standby\";\nflow.set('auto_data_sts', auto_data_sts);\n\nmsg.payload = auto_data_sts;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1470,"y":940,"wires":[[]]},{"id":"3c1dd94.ae1f026","type":"ui_group","name":"Camera Controls","tab":"6f77228a.b67bac","order":1,"disp":true,"width":"6","collapse":false},{"id":"38eddcad.c2e5a4","type":"ui_group","z":"d9ab78b2.085018","name":"Manual - Top Motor Controls","tab":"6f77228a.b67bac","order":4,"disp":true,"width":"6","collapse":false},{"id":"7c181052.012f8","type":"ui_group","name":"System Controls","tab":"6f77228a.b67bac","order":3,"disp":true,"width":"6","collapse":false},{"id":"12881274.dc1f7e","type":"ui_group","name":"Automatic  - Data Collection","tab":"6f77228a.b67bac","order":2,"disp":true,"width":"6","collapse":false},{"id":"6f77228a.b67bac","type":"ui_tab","name":"Data Collection Panel Top Camera","icon":"dashboard","disabled":false,"hidden":false}]
